*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
:root{
    --primary-textcolor:rgb(53, 48, 48);
    --secondary-textcolor:rgb(43, 40, 40);
    --primary-font-family:font-family: 'Ranade', sans-serif;
    --secondary-font-family: 'Clash Display', sans-serif;


}
.bgimg {
   width: 100%;
   height: 100vh;
}
.bgimg::before{
    content: "";
    background-image: linear-gradient(to bottom,lightgray, rgba(240, 240, 240, 0)),url(assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 23%;
    gap: 25vw;
}
.mid{
    display: flex;
    gap: 40px;
    font-size: 1.2em;
   
}
.right{
    display: flex;
    gap: 40px;
    font-size: 1.2em;
}
.mid a{
    color: var(--secondary-textcolor);
    font-family: var(--secondary-font-family);

}
.right a{
    color: var(--secondary-textcolor);
    font-family: var(--secondary-font-family);
}
.main{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
}
.main h1{
    color: var(--primary-textcolor);
    font-family: var(--primary-font-family);
}