@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Modern+Antiqua&family=Montserrat:wght@100..900&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

:root {
    --primary-textcolor: rgb(53, 48, 48);
    --secondary-textcolor: rgb(43, 40, 40);
    --primary-font-family: 'Ranade', sans-serif;
    --secondary-font-family: 'Clash Grotesk', sans-serif;
}

.bgimg {
    width: 100%;
    height: 100vh;
    position: relative;
}

.bgimg::before {
    content: "";
    background-image: linear-gradient(to bottom, lightgray, rgba(240, 240, 240, 0)), url(assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 23%;
    gap: 20vw;
    z-index: 1;
}

.mid {
    display: flex;
    gap: 40px;
    font-size: 1.2em;
}

.right {
    display: flex;
    gap: 40px;
    font-size: 1.2em;
}

.mid a, .right a {
    color: var(--secondary-textcolor);
    font-family: var(--secondary-font-family);
    font-weight: 600;
    padding: 10px;
    transition: color 0.3s ease,  transform 0.3s ease, box-shadow 0.3s ease,border-radius 0.3s ease,background-color 0.3s ease; /* Transition only the necessary properties */
}

.mid a:hover, .right a:hover {
    color: white;
    background-color: black;
    transform: scale(10px,10px);/*because while adding padding there was showing issues*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 31%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 38px;
    z-index: 1;
}

.main h1 {
    color: var(--primary-textcolor);
    font-family: var(--primary-font-family);
    font-size: 2.5rem;
}

.main p {
    color: var(--secondary-textcolor);
    font-family: var(--secondary-font-family);
    text-align: center;
    padding: 0px 220px;
    font-size: 1.2rem;
    font-weight: 700;
}

.main h1::first-letter {
    font-size: 5.5rem;
}
.btn{
    width: 10vw;
    height: 50px;
    position: absolute;
    top: 80%;
    left: 45%;
    color: white;
    font-family: var(--primary-font-family);
    background-color: #d46300;
    padding: 4px;
}
 a{
    margin-top: 5px;
}
#destination h1{
   font-family: var(--primary-font-family);
   color: var(--primary-textcolor);
   font-size: 2.5rem;
   text-align: center;
   padding: 20px;
}
#box{
    display: flex;
    justify-content: center;
    align-content: center;
    gap:3px;
    
}
#box h2{
    font-size: 1.8rem;
    
    color: var(--primary-textcolor);
    font-family: 'Quilon', sans-serif;
    padding: 20px;
}
#box p{
    color: var(--secondary-textcolor);
    font-family: var(--primary-font-family);
}
#taj{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 20px 0;
}
.img1{
    width: 640px;
    padding: 10px;
    background-color: #F1D3CE;
    border-radius: 30px;
    text-align: center;
    border: 3px solid #a24360;
    margin-left: 1px;
    
}
#redfort{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 20px 0;
}
.img2{
    width: 640px;
    padding: 10px;
    background-color: #F1D3CE;
    border-radius: 30px;
    text-align: center;
    border: 3px solid #a23556;
    margin-left: 1px;
}
#goldtemple{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 20px 0;
}
.img3{
    width: 640px;
    padding: 10px;
    background-color: #F1D3CE;
    border-radius: 30px;
    text-align: center;
    border: 3px solid #ab2a51;
    margin-left: 1px;
}
#about{
    display: flex;
}